.profile-page {
    display: flex;
    background-color: #000000d0; 
    height: 100vh; 
}

.sidebar {
    width: 270px; 
    background-color: #000000; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(153, 95, 95, 0.411); /* Shadow for depth */
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #000000; 
}

.edit-profile {
    border: none;
    background-color: #252525;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%; 
}

.profile-h3{
    color: #e6e6e6;
    font-size: 14px;
}
.main-content {
    display: flex;
    flex: 1;
    padding: 20px;
}

.posts {
    flex: 3; 
    display: inline;
}

.post-image {
    width: 170px; 
    height: 170px;
    margin: 10px 20px;
    border-radius: 8px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
}

.sidebar-right {
    width: 300px; 
    margin-left: 20px; 
    color: #e6e6e6;
}

.friends, .suggestions {
    background-color: #000000; 
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }

    .profile-ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
        display: list-item;
        
    }
    
    .profile-li {
        display: flex; 
        justify-content: space-between; 
        align-items: center;  
        border-bottom: 1px solid #e6e6e6; 
        color:white; 
        font-size: 16px; 

    }
    
    .profile-li:last-child {
        border-bottom: none; 
    }
    
    
    .profile-follow-btn {
        background-color: #333333de; 
        border: none;
        color: white; 
        padding: 5px 10px; 
        border-radius: 50px; 
        cursor: pointer; 
        font-size: 12px; 
    }
    